* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(158, 1, 1);
    padding: 15px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.logo img {
    width: 100px;
    border-radius: 10px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    font-size: 1.5em;
    font-family: lobster two;
}

.links a {
    text-decoration: none;
    gap: 50px;
    padding: 1.3rem;
    margin-left: 20px;
    font-size: 1.1em;
    font-weight: 700;
    color: white;
}

main {
    margin: 50px;
    padding: 50px;
    background-color: rgb(158, 1, 1);
    border-radius: 12px;
    font-family: lobster two;
    color: white;
}

h2 {
    margin-top: 50px;
    margin: 50px;
    text-align: center;
    padding: 50px;
    border: 2px solid rgb(255, 5, 5);
    font-weight: 700;
    color: white;
    border-radius: 12px;
    background-color: black;
    font-family: lobster two;
}

.texto p {
    font-size: 1.6em;
    line-height: 1.6;
    color: black;
    margin-top: 2rem;
}

#carousel {
    margin-top: 2rem;
    border-radius: 12px;
}

.carousel-item img {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
    object-fit: cover;
}

.card {
    background-color: #272829 !important;
    color: white !important;
    border: 2px solid yellow !important;
}

.card img {
    width: 50%;
    height: 400px;
    margin: 20px auto;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
    object-fit: cover;
}

.card-body h5 {
    font-size: 1.8rem;
    text-align: center;
    color: yellow;
}

.card-body p {
    text-align: center;
    margin: 0 8.8rem;
    font-size: 1.1em;
}

.localizacao {
    padding: 0 auto 0 80vh;
    margin: 0 auto;
    border-radius: 12px;
    width: auto;
    height: auto;
}

iframe {
    width: 50vw;
    height: 30vw;
}

.contato {
    display: flex;
    gap: 20px;
}

.texto-contato {
    padding: 5vw 0 0 5vw;
    justify-content: center;
    font-size: 1.9em;
    text-align: center;
}

.container{
    display: flex;
    gap: 40px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    margin-left: 0;
}


.card-imagem img {
    width: 30vw;
    box-shadow: 10px 10px 5px rgb(90, 32, 32);
    border-radius: 12px;
    border: 1px solid;
    display: block;
}

.card-texto{
    padding: 10vw 20vw;
    border: 2px solid rgb(255, 5, 5);
    font-weight: 700;
    color: white;
    border-radius: 12px;
    background-color: black;
    font-family: lobster two;
    border: 1px solid;
}