* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(158, 1, 1);
    padding: 15px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.logo img {
    width: 100px;
    border-radius: 10px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    font-size: 1.5em;
    font-family: lobster two;
}

.links a {
    text-decoration: none;
    gap: 50px;
    padding: 1.3rem;
    margin-left: 20px;
    font-size: 1.1em;
    font-weight: 700;
    color: white;
}

main {
    margin: 50px;
    padding: 50px;
    background-color: rgb(158, 1, 1);
    border-radius: 12px;
    font-family: lobster two;
}

.texto h2{
    margin: 10vh;
    text-align: center;
    padding: 50px;
    border: 1px solid;
    font-weight: 700;
    background-color: #290202;
    color: white;
    border-radius: 12px;
}

.texto p{
    font-size: 1.4em;
}

#carousel {
    border: 1px solid rgb(0, 0, 0.9);
    border-radius: 12px;
}

.carousel-item img {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 5px;
    object-fit: cover;
}